body {
    background-color: aqua;
    margin: 0%;
}

.navbar {
    width: 100%;
    /* font-size: 3px; */
    background-color: gray;
    text-align: center;
    margin: 0%;
    
}

.navbar ul {
    
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0%;
}

.hamburger {
    background-color: wheat;
    height: 100%;
    position: fixed;
    width: 20%;
    z-index: 1 ;
    display: none;
}

.show {
    display: none;
}

.hamburger ul {
    list-style-type: none;
    white-space: nowrap;
    margin-left: 0%;
}
.hamb {
    display: none;
}

@media only screen and (max-width:720px) {
  .hamb {
      display: block;   
  }
  .w {
      display: none;
  }
}